html,
body{
    border: 20;
    margin: 0;
    padding: 0;
    height: 100%;
}
.wrapper{
    display: grid;
    grid-template-columns: 2fr 7fr  4fr ;
    grid-template-rows: 30fr 30fr 60fr;
    height: 100%;
}
aside{
    color:white;
    background-color: #16151B;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
}

.progress{
    width:200px;
    border: 1px solid white;
    position: relative;
    padding:1px;
}
.percent{
    position: absolute;
}
.bar{
    height:5px;
    background-color: #57696D;
    width:90%;
}

.progress1{
    width:200px;
    border: 1px solid white;
    position: relative;
    padding:1px;
}
.percent1{
    position: absolute;
}
.bar1{
    height:5px;
    background-color: #57696D;
    width:85%;
}

.progress2{
    width:200px;
    border: 1px solid white;
    position: relative;
    padding:1px;
}
.percent2{
    position: absolute;
}
.bar2{
    height:5px;
    background-color: #57696D;
    width:20%;
}


main{
    background-color:#CCCCCC;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
.list{
    display:grid;
    grid-template-columns: auto;
    padding:10px 10px 10px 10px;
    text-align: left;
    margin:35px;
    border:2px solid white;
    background-color: #FFFFFF;
}
.list2{
    display:grid;
    grid-template-rows:30px;
    grid-template-columns: auto;
    padding:10px 10px 10px 10px;
    text-align: left;
    margin:35px;
    border:2px solid white;
    background-color:#FFFFFF;
}

.list3{
    display:grid;
    grid-template-rows:30px;
    grid-template-columns: auto;
    padding:10px 10px 10px 10px;
    text-align: left;
    margin:35px;
    border:2px solid white;
    background-color: #FFFFFF;
}
.hb{
    display:grid;
    grid-template-columns: auto;
    padding: 10;
    text-align: left;
    margin:35px;
    border:2px solid white;
    background-color: #FFFFFF;
}